.start-screen {
    background-color: #404040;
    width: 100dvw;
    height: 100dvh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    >img {
        height: 100dvh;
    }

    @media (max-width: 960px) {
        overflow: hidden;
    }
}

.start-label-box {
    position: absolute;
    bottom: 3rem;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    cursor: pointer;
    >img{
        @media (max-width: 960px) {
            width: 400px;
        }
    }

    >a {
        >img {
            width: 30dvw;
            height: auto;
            &:hover {
                filter: brightness(1.1);
            }
        }
    }
}