.player {
    display: flex;
    align-items: center;
    width: 18rem;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;

    >span {
        font-size: 32px;
        margin-left: 1rem;
    }

    background-color: rgb(125, 124, 122, 0.8);

    >img {
        height: 50px;
        object-fit: cover;
        border-radius: 100%;
    }
}

.player-active {
    background-color: orange !important;
}